$color__background-body: #fff;
$color_white: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color_red:#F30000;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color_black: #000;
$color_black-six: #666;
$color_black-three: #333;
$color_yellow: #F5A623;

$color_border: #E9E9E9;
$color_yellow-dim: #D89019;
$color_red: #F30000;
$form_color:#D89019;

$para_color: #4A4A4A;

$color_blue: #00518A;
$plain_blue: #52b9e9;
$social_blue: #18a8ec;


$btn__green: #78B231;
$bg_green: #07a307;

$border_grey_color: #C4C4C4;

$address_color: #D2D2D2;
$bg_color_top:#162564;
$bg_color_form:#09b2ea;
$light_bg_color:#e9ebee;
$bg_color_form_body:#128cb5;